body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #efa5d9; 
  color: #e80a79;
}

header {
  background-color: #efa5d9; 
  color: rgb(255, 255, 255);
  padding: 1em;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: rgb(92, 16, 69);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 2em;
}

footer {
  background-color: #deaecf; 
  text-align: center;
  padding: 10px;
}

/* Responsive Layout */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  header, footer {
    text-align: center;
  }

  nav a {
    display: block;
    margin: 5px 0;
  }
}